node_modules/
.venv/
.gemini/
.vscode/
.env
dist/
build/
*.bak
*.log
database.sqlite
tilo_clinical.db*
*.db-shm
*.db-wal
*.exe
__pycache__/
server/uploads/*
!server/uploads/.gitkeep
server/*.txt
server/bf_*
server/brute_*
server/*.py
server/pwds_*
server/*.cs
server/*.exe
server/filtered_*
server/inspect_*
server/test_*
scratch_*
